@using OnlineAutomationProject.Models.Siniflar
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>ÜRÜNLER</h2>
<br />

<table id="tbl2" class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>ÜRÜN</th>
            <th>STOK</th>
            <th>MARKA</th>
            <th>ALIŞ FİYAT</th>
            <th>SATIŞ FİYAT</th>
            <th>KATEGORİ</th>
            <th>GÖRSEL</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>

    @foreach (var u in Model)
    {
        <tr>
            <td>@u.UrunID</td>
            <td>@u.UrunAd</td>
            <td>@u.Stok</td>
            <td>@u.Marka</td>
            <td>@u.AlisFiyat</td>
            <td>@u.SatisFiyat</td>
            <td>@u.Kategori.KategoriAd</td>
            <td>@u.UrunGorsel</td>
            <td><a href="/Urun/UrunSil/@u.UrunID" class="btn btn-danger">SİL</a></td>
            <td> <a href="/Urun/UrunGetir/@u.UrunID" class="btn btn-success">GÜNCELLE</a></td>
        </tr>
    }


</table>

<a href="/Urun/UrunEkle" class="btn btn-warning">YENİ ÜRÜN EKLE</a>

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $('#tbl2').dataTable({});
</script>